h1{
    margin-top: 8.3rem;
    margin-bottom:1rem;
}

.card-container{
    gap: .5rem; 
}

#card-horizontal{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

@media(max-width: 720px) {

    .cart-descricao {
        font-size: .8rem;
     }

}

