.nav {
    background: #0D0C0C;

    #nav-dropdown-dark-example{
        color: white !important; 
    }
 
    .text-link{
    text-decoration: none;   
    color: white;
    }

 .dropStyle{
    background-color: black;
 }  
}


#navbarScrollingDropdown {
    color: white;
}

#logo-img, #cart-img {

   width: 30px;
   filter: invert(100%); 
}

#nav-container {

    padding: .5rem 8rem;
}

@media(max-width: 444px) {

    #nav-container {

        padding: .5rem 2rem;
    }

}
