*{
    margin: 0;
}

.banner{
    width: 100vw;
    min-height: 80vh;
    max-height: 90vh;
    display: flex;
    text-shadow: 2px 2px 6.5px rgb(0, 0, 0);
    background: url(https://images.pexels.com/photos/4125589/pexels-photo-4125589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        height: 100%;
        width: 100%;
        max-height: 90vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top -20px center;
        padding: 120px 0 200px;
        margin-top: 2em;

    h2{
        margin: 0 2.85em 0;
        padding: 0;
        font-size: 2.8em;
        color: white;
        
    }
    
    p{
        margin: 1em 5.85em 0;
        padding: 0;
        font-size: 1.4em;
        line-height: 1.5em;
        color: white;
    }
}


@media(max-width: 915px) {

    .banner {

        h2, p {

            margin: 2rem;
        }
    }
}

@media(max-width: 280px) {

    .banner {

        padding: 80px 0 200px ;
        
        h2, p {
            margin: 2rem;
        }
    }
}